
.LeftProfileComponent{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    background: #FFF;
    border-radius: 15px;
}

.left-profile-photo{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.left-profile-avatar{
    width: 50%;
    min-height: 100px;
    background: crimson;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-size: 14px;
}

.left-profile-info{
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFF;
    background: crimson;
    border: 1px solid crimson;
    border-radius: 15px;
}

.left-profile-data{
    width: 100%;
    height: 15%;
    text-align: center;
}