.PostsComponent{
    width: 100%;
    height: 100%;
    background: #fff7f7;
}
.posts-nav{
    padding: 0 5%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: crimson;
    font-size: 18px;
    background: #FFF;
    box-sizing: border-box;

}

.nav__link{
    color: crimson;
    margin: 10px;
    text-decoration: none;
}

.nav__link:hover{
    color: crimson;
    text-decoration: none;
}

.posts-main{
    padding: 50px 5%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.posts-main-child{
    display: flex;
    justify-content: center;
}

.posts-left, .posts-right{
    width: 20%;
}

.posts-center{
    width: 60%;
    display: flex;
    flex-direction: column;
}

