.PostComponent{
    width: 100%;
    background: #FFFFFF;
    font-size: 18px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.post-user{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding: 10px 5%;
    width: 100%;
    background: crimson;
    color: #FFF;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.post-content, .post-bottom{
    width: 100%;
    font-size: 16px;
    color: #000;
    box-sizing: border-box;
    padding: 10px 5%;
}

.post-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-bottom-child{
    margin-right: 20px;
}

.hr{
    margin: 0;
}

.post_image__wrapper{
    width: 30%;
    min-height: 100px;
}

.post-content-text{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 10px;
    border-radius: 15px;
    background: #eee;
    margin: 10px 0;
}

.liked{
    color: crimson;
}

.ico:hover{
    color: #cc2121;
}

.comments{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5%;
    margin: 10px 0;
}

.comments-content{
    width: 100%;

}
.comment-content{
    background: #eee;
    border-radius: 15px;
    padding: 10px 5%;
    box-sizing: border-box;
    margin: 10px 0;
}

.delete-post:hover{
    text-decoration: underline;
}
.edit-post{
    margin-right: 10px;
}
