.image{
  width: 100%;
  height: 100%;
  background-color: #FFF;
  z-index: 10;
  border-radius: 15px;

}

.image__wrapper{
  position: relative;
  width: 100%;
  height: 100%;
}

.fileinput{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
